h1 {font-family: 'Bungee Shade', cursive;}

h2 {font-family: 'Bungee', cursive;}

p {
	font-size: 1.125em;
	margin-top: 20px;}

fieldset {margin-top: 20px;}

.ribbon {
	font-size: 2em;
	font-family: 'Jura', sans-serif;}