body {background-color: #FCD9E5;}

h1 {
	font-family: 'Bungee Shade', cursive;
	font-size: 5em;}

h2 {
	color: #F1396D;
	font-family: 'Bungee', cursive;}

p {
	font-size: 1.125em;
	margin-top: 20px;}

fieldset {margin-top: 20px;}

.ribbon {
	font-size: 2em;
	font-family: 'Jura', sans-serif;}

footer {background-color: #F1396D;}

.footer-text {color: #ffffff;}

.header-image {background-image: url(../images/Undies.svg);
	height: 400px;}

.header-text {
	margin: auto; 
	width: 60%;
	text-align: center;
	background-color: yellow;}